WCF/TalTun.WCF.TCPNetServer/TalTun.WCF.WebClient/Service References/SalesSrvRef/TalTun.WCF.WCFServiceHost.Platform.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TalTun.WCF.WCFServiceHost.Platform" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TalTun.WCF.WCFServiceHost.Platform" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfentSalesTrx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entSalesTrx" nillable="true" type="tns:entSalesTrx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentSalesTrx" nillable="true" type="tns:ArrayOfentSalesTrx" />
  <xs:complexType name="entSalesTrx">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustId" type="xs:long" />
      <xs:element minOccurs="0" name="ProdCurrency" type="xs:double" />
      <xs:element minOccurs="0" name="ProdImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdPrice" type="xs:double" />
      <xs:element minOccurs="0" name="ProdSysId" type="xs:long" />
      <xs:element minOccurs="0" name="Qnt" type="xs:int" />
      <xs:element minOccurs="0" name="TrsSysId" type="xs:long" />
      <xs:element minOccurs="0" name="TrxDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entSalesTrx" nillable="true" type="tns:entSalesTrx" />
</xs:schema>